<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/base.css">
	</head>

	<body>
		
		<div class="container">
			<div class="category_row" id="first_row">
				<a href="diagnosisHistory">
					<div class="category">
						<p class="card_category">Diagnoses</p>
					 </div>
				</a> 
				<a href="asthma"> 
					 <div class="category"> 
						<p class="card_category">Asthma</p>
					</div>	
				</a>
			 </div>
			<div class="category_row"> 
				<a href="surgeries">
					<div class="category"> 
						<p class="card_category">Surgeries</p>
					</div>
				</a> 
				<a href="dangerousMedication"> 
				 	<div class="category"> 
						<p class="card_category">Dangerous Medication</p>
					</div>	
				</a>
			</div>
			<div class="category_row"> 
				<a href="bp">
					<div class="category"> 
						<p class="card_category">Blood Pressure Log</p>
					</div>
				</a> 
			</div>
			
			


		</div>
	</body>
</html>

