<html>
	<head>	
		<link rel="stylesheet" type="text/css" href="/static/css/base.css">
		<link rel="stylesheet" type="text/css" href="/static/css/home.css">
		<link href="https://fonts.googleapis.com/css?family=Nixie+One" rel="stylesheet"> 
		<script src="/static/js/base.js"> </script>

		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
 		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
		<body>
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#">{{name}}</a>
			    </div>
			    <ul class="nav navbar-nav navbar-right">
			           <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			    </ul>
			  </div>
			</nav>
  

			<div class="center_contents" id="icon-1">
				<a href="journal/view"><img class="icon" src="/static/images/search_entries.png" alt="view entry" width="120" height="120"></a>
			</div>
			<div class="center_contents"  id="icon-2">
				<a href="journal/add"><img class="icon" src="/static/images/newentry.png" alt="new entry" width="120" height="120"></a>
			</div>
			
			
		</body>
</html>
