<html>
	<head>	
		<link rel="stylesheet" type="text/css" href="/static/css/base.css">
		<link href="https://fonts.googleapis.com/css?family=Nixie+One" rel="stylesheet"> 
		<script src="/static/js/base.js"> </script>
	</head>
		<body>
			<div id="white-bg">
				<div id="title_container">
					<input type="text" class="input_style_line" id="title_input" placeholder="Enter title of journal">
				</div>
				<div class="center_contents" id="upload_button_container">
					<div id="upload_image_button" class="gradient-button" for="fileInput"> 
						<img class="icon" src="/static/images/camera.png" alt="upload image" width="80" height="80">
						<input type="file" id="fileInput">
						
					</div>
				</div>

				
			</div>
		</body>
</html>
