<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
		<script src="/static/js/base.js"> </script>
	</head>
	<body>
		
		<div id="white-bg">
			

			<form action="." method="post" enctype="multipart/form-data">
				{% csrf_token %}
				

				<div class="center_contents" id="upload_button_container">
					{{ form.as_p }}
					<div id="upload_image_button" class="gradient-button" > 
						<img class="icon" src="/static/images/camera.png" alt="upload image" width="80" height="80">
					</div>
				</div>

			    <input type="submit" value="Submit" />
			</form>
		</div>

	</body>
</html>
